.body{
  align-items: center;
  margin-left: 100px;
  margin-right: 10px;
  
}
.primary{
    display:flex;
    flex-wrap:wrap;  
}
.brand{
    font-weight:bold;
    font-size: 20px;
    text-align: center;
    font-family: times new 'Times New Roman', Times, serif;
}
.title{
    color: gray;
}

.rating{
    max-width: 8%;
}
.images{
    width: 200px;
    height: auto;  
    padding-top: 100px;
    padding-left: 40px; 
    padding-right:50px; 
    cursor: pointer;
}
.details{
    display: flex;
    
}
.detailImage{
   padding-right: 300px;
   margin-top: 100px;
   cursor: pointer;
}
.detailsBrand{
    display: block;
    font-weight:bold;
    font-size: 30px;
    font-family: Arial;
    padding-top: 120px;
}
.productName{
   color: gray;
  font-family: Monaco;
  font-size: 19px;
}
.productPrice{
    font-size: 18px;
}
.productDiscount{
    color: rgb(12, 173, 12);
    font-size: 20px;
}
.productRating{
    font-size: 18px;
}
.productQuanity{
    font-size: 15px;
}

.cartButton{
    background-color: #FFD814;
  font-family: Arial, sans-serif;
  padding: 13px 100px 13px 90px;
  border-radius: 8pc;
  margin-top: 80px;
  margin-left: 0px;
  cursor: pointer;
  font-weight: bold;
  border: none;
  transition: background-color 0.3s ease;
}

.cartButton:hover{
    background-color: #F7CA00;

}
/* .searchBar{
    flex: 1;
    height: 34;
    
} */
.logo{
    height: 40px;
  cursor: pointer;
}
.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: black;
  padding: 10px 20px;
}

.leftSection{
    display: flex;
  align-items: center;
  gap: 20px;
}
.middleSection{
    flex: 1;
    margin-left: 50px;
    margin-right: 50px;
    max-width: 500px;
}
.rightSection{
    display: flex;
  align-items: center;
  gap: 12px;
    
}
.cart{
    height: 35px;
   cursor: pointer;
   padding-right: 15px;
}
.productInformation{
    text-align: center;
}
.ratingImage{
    max-height: 30px;
}
.ratingSize{
    font-size: 20px;
}
.cartImage{
    display: inline-block;
    vertical-align: top; 
    margin-right: 200px;
    height: 240px;
    padding-left: 200px;
    padding-bottom: 40px;
    
}
.cartdetails{
    padding-top: 40px;
    display: inline-block;
    font-size: 18px;
    font-weight:bold;
    font-family: Arial;
    padding-left: 30px;
}
.deletebutton{
    color: rgb(209, 7, 7);
    margin-top: 20px;
    cursor: pointer;
}
.shoppingtext{
    text-align: center;
    font-family: Arial;
    padding-top: 100px;
}
.Cartcount{
    color: white;
  font-weight: bold;
  font-size: 14px;
}

.buycart{
    background-color: #FFD814;
  font-family: Arial, sans-serif;
  padding: 13px 100px 13px 90px;
  border-radius: 8pc;
  margin-top: 80px;
  margin-left: 678px;
  cursor: pointer;
  font-weight: bold;
  border: none;
  transition: background-color 0.3s ease;
}

.buycart:hover{
    background-color: #F7CA00;
}

.paymentBody{
    padding-top: 100px;
    text-align: center;
    font-weight: bold;
    font-family:'Arial';
    display: flex;
    flex-direction: column;
}

.cardAndNum{
   padding-bottom: 40px;
   padding-top: 40px;
}

.cardNameandExpireDate{
    padding-left: 45px; 
}

.savecard{
    background-color: #FFD814;
  font-family: Arial, sans-serif;
  padding: 13px 100px 13px 90px;
  border-radius: 8pc;
  margin-top: 80px;
  margin-left: 30px;
  cursor: pointer;
  font-weight: bold;
  border: none;
  transition: background-color 0.3s ease;
}

.order{
    color: rgb(6, 123, 6);
    text-align: center;
    font-family: Arial;
    font-weight: bold;
   flex-direction: row;
}

.greenTick{
    height: 90px;
    padding-left:10px;
    padding-right: 10px;
    padding-top: 100px;
}

.orders {
  background-color: #FFD814;
  font-family: Arial, sans-serif;
  padding: 13px 100px 13px 90px;
  border-radius: 8pc;
  margin-top: 80px;
  margin-left: 700px;
  cursor: pointer;
  font-weight: bold;
  border: none;
  transition: background-color 0.3s ease;
}
.orders:hover {
  background-color: #f7ca00;
}

.orderItem {
    display: flex;           
    align-items: center;     
    gap: 20px;              
    padding: 15px 20px;
   
}

.orderImg {
    width: 280px;
    height: 280px;
    object-fit: cover;
    border-radius: 8px;
}

.orderData {
    display: flex;
    flex-direction: column;  
    font-size: 18px;
    font-weight: 600;
    font-family: Arial, sans-serif;
    color: #333;
}

.orderLink {
    color: white;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
    
    
}




